.gender-indication { font-style: italic; }
.gloss { font-style: italic;}
.IPA { font-style: normal; } /* mathrm */
.italisc { font-style: italic; }
.mention { font-style: normal; } /* mathrm */
.qualifier { font-style: italic; }
/*.translation-link*/
/*.default-link*/