.gender-indication { font-style: italic; }
.gloss { font-style: italic;}
.qualifier { font-style: italic; }
.IPA { font-style: normal; } /* mathrm */
.mention { font-style: normal; } /* mathrm */
/*.translation-link*/